* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    grid-column-start: 1;
    grid-column-end: 7;

    text-align: center;
    background: #3E3E3E;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px repeat(5, 1fr);
}

nav {
   grid-row-start: 2;
   grid-row-end: 7;

    background: #EBEBEB;
    padding: 10px;
    font-size: 20px;
}

button {
    font-size: 15px;
}

.search {
    margin-bottom: 10px;
}

.city {
    display: block;
    width: 100%;
    padding: 5px;
}

.info {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

.forecast {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

.weather-block {
    grid-row-start: 4;
    grid-row-end: 7;

    background: #4aa5ff;
    margin: 0px 10px 10px 10px;
    padding: 5px;
    font-size: 20px;
}